* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    background-color: #c6c6c6;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

.header-index-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-index-logo img {
    height: 50px;
}

.header-index-logo h1 {
    color: rgb(225, 96, 61);
    font-size: 32px;
}

.header-index-logo p {
    font-size: 24px;
    color: #333;
}
.header-index-ajuda a {
    text-decoration: none;
    color: rgb(225, 96, 61);
    font-size: 15px;
}
.login-main {
    background-color: rgb(225, 96, 61);
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}
.login-main{
    background-color: white;
}
.login-card {
    background-color: #ffffff;
    width: 400px;
    padding: 35px;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

.login-card h2 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: normal;
    display: flex;
    justify-content: center;
}
.input-login {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: rgb(225, 96, 61);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login-links a {
    text-decoration: none;
    color: #0055aa;
    font-size: 12px;
}

/* DIVISOR OU */
.divisor-ou {
    display: flex;
    align-items: center;
    margin: 25px 0;
    color: #ccc;
    font-size: 12px;
}

.divisor-ou::before, .divisor-ou::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #eee;
}

.divisor-ou span {
    padding: 0 10px;
}
.social-area {
    display: flex;          /* Ativa o Flexbox */
    flex-direction: row;    /* Força o alinhamento em linha (lado a lado) */
    gap: 10px;              /* Espaço entre os botões */
    width: 100%;            /* Ocupa toda a largura do card */
    margin-top: 15px;
    margin-bottom: 25px;
}
/* --- Ajustes dos Botões Sociais --- */
.btn-social {
    flex: 1;
    padding: 10px;
    border: 1px solid #dbdbdb;
    background: white;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espaço entre ícone e texto */
}

.btn-social img {
    height: 18px; /* Tamanho padronizado dos ícones sociais */
    width: auto;
}
